<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EmgBellMapper">
	<select id="listToGeoUpdate" resultType="com.mim.emgbell.EmgBell">
		SELECT ID, RDNM_ADR as rdnmadr, LNM_ADR as lnmadr FROM EMG_BELL where NAVER_LATITUDE IS
		NULL OR NAVER_LONGITUDE IS NULL
	</select>
	
	<update id="mergeGeo" parameterType="java.util.List">
		insert into emg_bell
		(ID, NAVER_LATITUDE, NAVER_LONGITUDE)
		values
		<foreach collection="list" item="element" separator=",">
			( #{element.id}, #{element.naverLatitude}, #{element.naverLongitude})
		</foreach>
		on duplicate key update
		    NAVER_LATITUDE = values(NAVER_LATITUDE)
		    ,NAVER_LONGITUDE = values(NAVER_LONGITUDE)
	</update>
	
	<insert id="insert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into EMG_BELL
		(
			 INST_PRPS_CODE
			, ITLPC_TYPE_CODE
			, NAME
			, RDNM_ADR
			, LNM_ADR
			, LATITUDE
			, LONGITUDE
			, CNTC_MTH_CODE
			, POLC_CNTC_YN
			, GURD_CNTC_YN
			, OFFICE_CNTC_YN
			, ADI_FNCT
			, INST_YEAR
			, SAFE_CHK_DATE
			, SAFE_CHK_YN
			, INSTITUTION_NAME
			, PHON_NUM
			, INST_DATE
			, INSTT_CODE
			, INSTT_NAME
		)
		values
		<foreach collection="list" item="item" separator=",">
		( 
			#{item.instPrpsCode}
			, #{item.itlpcTypeCode}
			, #{item.name}
			, #{item.rdnmadr}
			, #{item.lnmadr}
			, #{item.latitude}
			, #{item.longitude}
			, #{item.cntcMthdCode}
			, #{item.polcCntcYn}
			, #{item.gurdCntcYn}
			, #{item.officeCntcYn}
			, #{item.adiFnct}
			, #{item.instYear}
			, #{item.safechkDate}
			, #{item.safechkTypeYn}
			, #{item.institutionNm}
			, #{item.phoneNum}
			, #{item.instDate}
			, #{item.insttCode}
			, #{item.insttName}
		)
		</foreach>
	</insert>
</mapper>
