<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LoginMapper">
	<insert id="access" parameterType="map">
		insert into access_history
		(USERID, IP, BROWSER, OPERATING_SYSTEM)
		values
		(#{userid}, #{ip}, #{browser}, #{operatingSystem})
	</insert>
</mapper>
