<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RestRoomMapper">
	<select id="list" parameterType="map" resultType="com.mim.domain.RestRoom">
		<![CDATA[
			SELECT
			ID
			, TYPE
			, NAME
			, RDNM_ADR rdnmAdr
			, LNM_ADR lnmAdr
			, UNISEX_YN unisexYn
			, LADIES_BOWL_NUM ladiesBowlNum 
			, LADIES_HANDICAP_BOWL_NUM ladiesHandicapBowlNum
			, LADIES_CHILD_BOWL_NUM ladiesChildToiletBowlNum
			, MEN_BOWL_NUM menBowlNum
			, MEN_URINAL_NUM menUrinalNum
			, MEN_HANDICAP_BOWL_NUM menHandicapBowlNum
			, MEN_HANDICAP_URINAL_NUM menHandicapUrinalNum
			, MEN_CHILDREN_BOWL_NUM menChildrenBowlNum
			, MEN_CHILDREN_URINAL_NUM menChildrenUrinalNum
			, OPEN_TIME openTime
			, INSTALLATION_YEAR installationYear
			, LATITUDE
			, LONGITUDE
			, EMG_BELL_YN emgBellYn
			, CCTV_YN cctvYn
			, DIPERS_EXCHG_POSI dipersExchgPosi
			, ( 6371 * acos( cos( radians(LATITUDE) ) * cos( radians( #{latitude} ) )
	          * cos( radians( #{longitude} ) - radians(LONGITUDE) )
	          + sin( radians(LATITUDE) ) * sin( radians( #{latitude} ) ) ) ) AS distance
		  FROM public_toilet pt 
		  WHERE NAME like '%${search}%'
		  HAVING distance < 5
		  ORDER BY distance
		  LIMIT 0 , 10;
		]]>
	</select>
	
	<!-- NAVER 위,경도 업데이트 -->
	<select id="listToGeoUpdate" resultType="com.mim.domain.RestRoom">
		SELECT ID, RDNM_ADR as rdnmAdr, LNM_ADR as lnmAdr FROM PUBLIC_TOILET 
		where LATITUDE IS
		NULL OR LONGITUDE IS NULL
	</select>
	
	<update id="mergeGeo" parameterType="java.util.List">
		insert into public_toilet
		(ID, LATITUDE, LONGITUDE, ISUPDT)
		values
		<foreach collection="list" item="element" separator=",">
			( #{element.id}, #{element.latitude}, #{element.longitude}, 1)
		</foreach>
		on duplicate key update
		    latitude = values(latitude)
		    ,longitude = values(longitude)
	</update>
	<insert id="insert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into PUBLIC_TOILET
		(
		TYPE
		, NAME
		, RDNM_ADR
		, LNM_ADR
		, UNISEX_YN
		, LADIES_BOWL_NUM
		, LADIES_HANDICAP_BOWL_NUM
		, LADIES_CHILD_BOWL_NUM
		, MEN_BOWL_NUM
		, MEN_URINAL_NUM
		, MEN_HANDICAP_BOWL_NUM
		, MEN_HANDICAP_URINAL_NUM
		, MEN_CHILDREN_BOWL_NUM
		, MEN_CHILDREN_URINAL_NUM
		, INSTITUTION_NAME
		, PHON_NUM
		, OPEN_TIME
		, INSTALLATION_YEAR
		, LATITUDE
		, LONGITUDE
		, POSS_TYPE
		, POSI_TYPE
		, EMG_BELL_YN
		, CCTV_YN
		, DIPERS_EXCHG_POSI
		, MOD_YEAR
		, INSTT_CODE
		, INSTT_NAME
		, API_DATE
		)
		values
		<foreach collection="list" item="item" separator=",">
		( 
			#{item.type}
			, #{item.name}
			, #{item.rdnmAdr}
			, #{item.lnmAdr}
			, #{item.unisexYn}
			, #{item.ladiesBowlNum}
			, #{item.ladiesHandicapBowlNum}
			, #{item.ladiesChildToiletBowlNum}
			, #{item.menBowlNum}
			, #{item.menUrinalNum}
			, #{item.menHandicapBowlNum}
			, #{item.menHandicapUrinalNum}
			, #{item.menChildrenBowlNum}
			, #{item.menChildrenUrinalNum}
			, #{item.institutionName}
			, #{item.phonNum}
			, #{item.openTime}
			, #{item.installationYear}
			, #{item.latitude}
			, #{item.longitude}
			, #{item.possType}
			, #{item.posiType}
			, #{item.emgBellYn}
			, #{item.cctvYn}
			, #{item.dipersExchgPosi}
			, #{item.modYear}
			, #{item.insttCode}
			, #{item.insttName}
			, #{item.apiDate}
		)
		</foreach>
	</insert>
</mapper>
